@model _2015104916.Entities.Entities.Asiento

@{
    ViewBag.Title = "Asientos - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Asiento</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            N° de Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSerie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AsientoId }) |
    @Html.ActionLink("Regresar al Índice", "Index")
</p>
