@model _2015104916.Entities.Entities.Llanta

@{
    ViewBag.Title = "Llantas - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Llanta</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            N° de Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSerie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.LlantaId }) |
    @Html.ActionLink("Regresar al Índice", "Index")
</p>
