@model _2015104916.Entities.Entities.Volante

@{
    ViewBag.Title = "Volantes - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Volante</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
           N° de Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSerie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VolanteId }) |
    @Html.ActionLink("Regresar al Índice", "Index")
</p>
